@model De2_1.Models.Taikhoan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Taikhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tendn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tendn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matkhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matkhau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
